$blue: #2196f3;
$white: #fff;
$lightBlue: #e3f2fd;

.Menu {
  header {
    color: $white;
    border-bottom: 1px solid $white;
    .brand {
      padding-left: 0.5em;
      font-size: 3em;
      float: left;
    }
    h1 {
      font-size: 2.5em;
    }
  }

  main {
    section {
      h3 {
        color: $lightBlue;
      }
      .List {
        list-style: none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $lightBlue;
        padding-left: 1em;

        li {
          color: $white;
          line-height: 2em;
          text-transform: uppercase;
        }
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    border-top: 1px solid $white;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: table;
      table-layout: fixed;
      width: 100%;

      li {
        text-align: center;
        display: table-cell;
        line-height: 3em;
        border-right: 1px solid $white;

        &:last-child {
          border-right: 0px;
        }

        a {
          color: $white;
        }
      }
    }
  }

}
