$blue: #2196f3;

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.menu-container {
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: $blue;
}

.preview-container {
  width: 21cm;
  height: 29.7cm;
  background-color: rgb(6, 251, 126);
  margin: 0 auto;
}

.clearfix {
  clear:both;
}
