<header>
  <span class="fa-stack fa-lg brand">
    <i class="fa fa-file-o fa-stack-2x"></i>
    <i class="fa fa-cutlery fa-stack-1x"></i>
  </span>
  <h1>Menu Builder</h1>
  <div class="clearfix"></div>
</header>

<main>
  <section>
    <h3>Mes menus</h3>
    <ul class="List">
      <li>Salut</li>
    </ul>
  </section>
  <section>
    <h3>Mes cartes</h3>
    <ul class="List">
      <li>Salut</li>
    </ul>
  </section>
</main>

<footer>
  <ul>
    <li><a href="#" class="btn-addMenu"><i class="fa fa-plus">&nbsp;</i></a></li>
    <li><a href="#" class="btn-addMenu"><i class="fa fa-plus">&nbsp;</i></a></li>
    <li><a href="#" class="btn-addMenu"><i class="fa fa-plus">&nbsp;</i></a></li>
    <li><a href="#" class="btn-addMenu"><i class="fa fa-plus">&nbsp;</i></a></li>
  </ul>
</footer>
